@model IEnumerable<Lifestoned.DataModel.Gdle.Recipes.Recipe>

@{
    ViewBag.Title = "Recipe Search";
}

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="app" class="form-horizontal">
        <lsd-recipe-search ref="search"></lsd-recipe-search>
        <lsd-recipe-table ref="results"></lsd-recipe-table>
    </div>
}


@section scripts {
    @Scripts.Render("~/ui/shared", "~/ui/recipe")

    <script>
        Vue.use(AutoWatchMixin);
        Vue.use(RecipeStore);
        var recipeStore = makeRecipeService();

        var app = new Vue({
            el: '#app',
            recipeStore: recipeStore
        });
    </script>
}

@*<br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Last Modified</th>
                    <th style="width: 16rem; text-wrap:none;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null || Model.Count() == 0)
                {
                    <tr><td colspan="4" align="center">No results.</td></tr>
                }
                @{
                    foreach (var recipe in Model)
                    {
                    <tr>
                        <td>@recipe.Key.ToString()</td>
                        <td>@recipe.Description</td>
                        <td>@recipe.LastModified</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-sm btn-secondary" href="@Url.Action("Edit", "Recipe", new {id = recipe.Key})">
                                    <span class="glyphicon glyphicon-edit" title="Edit"></span>
                                </a>
                                <a disabled class="btn btn-sm btn-secondary" href="@Url.Action("Clone", "Recipe", new {id = recipe.Key})">
                                    <span class="glyphicon glyphicon-copy" title="Clone"></span>
                                </a>

                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Delete", "Recipe", new { id = recipe.Key })">
                                        <span class="glyphicon glyphicon-remove" title="Delete"></span>
                                    </a>
                                }

                                <div class="btn-group dropdown" role="group">
                                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"><span class="glyphicon glyphicon-download" title="Download"></span>&nbsp;<span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("DownloadOriginal", "Recipe", new {id = recipe.Key})">Original</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>

                    </tr>
                    }
                }
            </tbody>
        </table>

    }*@
