﻿@model List<Lifestoned.DataModel.Shared.ChangeEntry>

@if (Model == null || Model.Count() < 1)
{
    <div class="alert alert-info">
        There are no changes to review.
    </div>
}
else
{
    <div class="entries">
        @{
            for (int i = 0; i < Model.Count(); i++)
            {
                @Html.DisplayFor(m => Model[i]);
            }
        }

    </div>

}
