﻿@model Lifestoned.DataModel.Gdle.SandboxModel

@{
    ViewBag.Title = "Weenies";
}

@Html.Partial("SandboxMenu")

<h2>Weenies</h2>

@if (Model?.Changes == null || Model.Changes.Count < 1)
{
    <div class="alert alert-info">
        There are no changes to review.
    </div>
}
else
{
    @Html.EditorFor(m => m.Changes, "WeenieChangeList")
}
