@{
    ViewBag.Title = "Content Sheet";
}

<br />

<div id="contentApp">

    <lsd-content-sheet :results="$content.patches"></lsd-content-sheet>

</div>

@section scripts
{
    @Scripts.Render("~/ui/shared", "~/ui/content")

    <script>
        Vue.use(ContentStore);
        var contentStore = makeContentService();

        var contentApp = new Vue({
            el: '#contentApp',
            contentStore: contentStore,
            data: {
            },
            watch: {
            },
            methods: {
            },
            mounted() {
            },
            destroyed() {
            }
        });

    </script>

}
