@using DerethForever.Web.Controllers
@model List<Lifestoned.DataModel.Gdle.WeenieChange>

@if (Model == null || Model.Count < 1)
{
    <div class="alert alert-info">
        There are no changes to review.
    </div>
}
else
{
    <div class="text-right">
        <i class="glyphicon glyphicon-filter"></i>
        <select id="sort" name="sort" onchange="filterChanged(event)">
            <option value="">All</option>
            <option value=".submitted">Submitted</option>
            <option value=".need-submit">Not Submitted</option>
        </select>
        <script>
            function filterChanged(evt) {
                $(".well").hide()
                $(".well" + $(evt.target).val()).show();
            }

            $(function () {
                $(".well").hide()
                $(".well" + $('#sort').val()).show();

                $('.submit-weenie').click(function (evt) {
                    evt.preventDefault();
                    evt.stopPropagation();

                    var el = $(this);
                    $.get(el.attr('href'), function () {
                        if (el.hasClass('btn-warning')) {
                            el.removeClass('btn-warning').addClass('btn-primary').text('Withdraw Submission');
                        } else {
                            el.removeClass('btn-primary').addClass('btn-warning').text('Submit for Review');
                        }
                        el.toggleClass('need-submit', 'submitted');
                        if ($('#sort').val() != '') {
                            el.parents('.well').first().hide();
                        }
                    });
                });

                $('.delete-weenie').click(function (evt) {
                    if (!confirm('This will remove the item, proceed?')) {
                        evt.preventDefault();
                        evt.stopPropagation();
                    }
                });

            });
        </script>
    </div>
    for (int i = 0; i < Model.Count; i++)
    {
    <div class="well @(!Model[i].Submitted ? "need-submit" : "submitted")">
        <div class="row">
            <div class="col-md-1">
                <div class="icon">
                    <!-- GetDynamicIcon(int? itemType, uint? underlayId, uint? overlayId, uint? iconId, int? uiEffects)-->
                    <img src="@Url.Action("GetDynamicIcon", "Resource",
                                  new {
                                      itemType = Model[i].Entry.ItemType,
                                      underlayId = Model[i].Entry.UnderlayId,
                                      overlayId = Model[i].Entry.OverlayId,
                                      iconId = Model[i].Entry.IconId,
                                      uiEffects = Model[i].Entry.UIEffects }) " />
                </div>
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(m => m[i].Entry.Name)
                (@Html.DisplayFor(m => m[i].Entry.WeenieClassId))<br />
                Submitted by @Html.DisplayFor(m => m[i].UserName) on @Html.DisplayFor(m => m[i].SubmissionTimeDisplay)<br />
                <br />
            </div>
            <div class="col-md-5">
                <div class="btn-group">
                    <div class="btn btn-default btn-sm">@Html.ActionLink("Edit", "Edit", "Weenie", new { id = Model[i].Entry.WeenieClassId }, null)</div>
                    <div class="btn btn-default btn-sm">@Html.ActionLink("Clone", "Clone", "Weenie", new { id = Model[i].Entry.WeenieClassId }, null)</div>
                    <div class="btn btn-default btn-sm">
                        <i class="glyphicon glyphicon-download"></i>
                        @Html.ActionLink("Sandbox", "DownloadSandbox", "Weenie", new { id = Model[i].Entry.WeenieClassId, userGuid = Model[i].UserGuid }, null)
                    </div>
                    <div class="btn btn-default btn-sm">
                        <i class="glyphicon glyphicon-download"></i>
                        @Html.ActionLink("Original", "DownloadOriginal", "Weenie", new { id = Model[i].Entry.WeenieClassId }, null)
                    </div>

                </div>
                <div>
                    @if (BaseController.CurrentUser.AccountGuid == Model[i].UserGuid)
                    {
                        if (Model[i].Submitted)
                        {
                            @Html.ActionLink("Withdraw Submission", "WithdrawSubmission", "Weenie", new { id = Model[i].Entry.WeenieClassId }, new { @class = "submit-weenie btn btn-sm btn-primary" })
                        }
                        else
                        {
                            @Html.ActionLink("Submit for Review", "CreateSubmission", "Weenie", new { id = Model[i].Entry.WeenieClassId }, new { @class = "submit-weenie btn btn-sm btn-warning" })
                        }
                    }
                    @Html.ActionLink("Delete Changes", "DeleteSandboxWeenie", "Weenie", new { id = Model[i].Entry.WeenieClassId }, new { @class = "delete-weenie btn btn-sm btn-primary" })
                </div>
            </div>
        </div>
        <br />

        @Html.EditorFor(m => m[i], "WeenieChangeDiscussion")

    </div>
    }

    @Html.Partial("CommentModal", new { source = "Sandbox" })
}
